/**{
	outline:1px solid rgba(255,0,0,0.4);
}*/
.container {
 width:700px;
 margin: 0 auto;
}

#menu {
 float:left;
 left:50%;
 list-style-type:none;
 margin: 15px;
 padding:0;
 position:relative;
}
#uno {
	float:left;
	position:relative;
	right:50%;
	border:1px solid black;
	border-right:1px solid black;
	border-left-style: none;
}
#uno:last-child{
	border-right-style: none;
}
li a{
	display: inline-block;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	font-size:20px;
}
 .inicio img{
 	position: relative;
 	left: 90px;
}
.nosotros{
	width: 400px;
	height: 200px;
	padding: 10px 20px 20px 10px;
	position: relative;
	left: 150px;
}
.nosotros div{
	width: 90px;
	border:2px solid gray;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	margin: 0 auto;

}
.nosotros p{
	font-family: Time News Roman;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.coders{
	position: relative;
	right: 80px;
}
.raya{
	width: 100px;
	border:5px solid black;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	
}

#hijo:hover{
	opacity: 0;
}
.fotos {
	width: 200px;
	height: 200px;
	position: relative;
	display: inline-block;
	left: 120px;
	margin-right: 20px;
	
	}
#coders{ 
	width: 200px;
	height: 200px;
		 }

#nombre {
	position: relative;
	top: 215px;
	left: 60px;
	color: black;
}
#hijo {
	position: absolute;
	top: 50px;
	left: 1px;
	width: 200px;
	height: 200px;
	background-color: black;
	-webkit-filter: opacity(0.5);

}
.marco{
	width: 100%;
	height: 1000px;
	margin-top: 20px;
	margin-bottom: 50px;
	border:2px solid grey;
	float: left;
	left: 50%
}
#fotos2{
	border-radius: 100px;
	height: 150px;
	width: 150px;
	position: relative;
	left: 270px;
	margin-top:15px;
}
.nombrecompleto{
	text-align: center;
}
.texto{
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
}
h2{
	margin-left: 20px;
}
#lista1{
	color: 	#FFFFFF;
	background-color: grey;
	width: 500px;
	height: 20px;
	margin-left: 50px;
	margin-right: 20px;
	padding: 20px;
}
#lista2{
	color: 	#FFFFFF;
	background-color: grey;
	width: 300px;
	height: 20px;
	margin-left: 50px;
	margin-right: 20px;
	padding: 20px;
}
#lista3{
	color: 	#FFFFFF;
	background-color: grey;
	width: 150px;
	height: 20px;
	margin-left: 50px;
	margin-right: 20px;
	padding: 20px;
}
.fotosP{
	width: 200px;
	height: 100px;
	position: relative;
	display: inline-block;
	left: 50px;
	margin-right: 0 auto;
	margin-left: 0 auto;
}
#codersP{
	width: 200px;
	height: 100px;
	}